<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elton.libras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tela2" />
        <activity android:name=".Tela3" />
        <activity android:name=".Teste" />
        <activity android:name=".Alfabeto" />
        <activity android:name=".Alfabeto2" />
        <activity android:name=".Alfabeto3" />
        <activity android:name=".Alfabeto4" />
        <activity android:name=".Alfabeto5" />
        <activity android:name=".Animais" />
        <activity android:name=".Numeros" />
        <activity android:name=".Numeros2" />
        <activity android:name=".Animais2" />
        <activity android:name=".Animais3" />
        <activity android:name=".Animais4" />
        <activity android:name=".Animais5" />
        <activity android:name=".Animais6"></activity>
    </application>

</manifest>